{% extends 'main/layout.html' %}
 {% block title %}Про нас{% endblock %}
{% block content %}
<div class= 'feature'>
    <h1>Про нас</h1>
    <p>Пожилая мать успешной документалистки Дженнифер находит её ранний рассказ – исповедь 13-летней девочки о связи с двумя взрослыми тренерами. Несмотря на своё спокойное отношение к произошедшему, из-за переживаний матери Дженнифер решает встретиться с участниками событий и выяснить подробности.</p>
    <button  class="btn btn-primary">Нажми</button>
</div>
    {% endblock %}



