{% extends 'main/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class='feature'>
    <h1>{{ title }}</h1>
    <p>Пожилая мать успешной документалистки Дженнифер находит её ранний рассказ – исповедь 13-летней девочки о связи с
        двумя взрослыми тренерами. Несмотря на своё спокойное отношение к произошедшему, из-за переживаний матери
        Дженнифер решает встретиться с участниками событий и выяснить подробности.</p>
    <button class="btn btn-primary">На страницу</button>
    {% for el in values %}
        {%if el == 'Some' %}
            {% filter upper %}
                <p>{{ el }}</p>
    {% endfilter %}
        {% endif %}
    {% endfor %}

    {% for el in obj %}
     <p> {{el}} <p>
    {% endfor %}
</div>
{% endblock %}