{% extends 'main/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class='feature'>
    <h1>{{ title }}</h1>
    <p>Просто текст представленный сайтом</p>
    <button class="btn btn-primary">На страницу</button>

    {% for el in values %}
        {%if el == 'Some' %}
            {% filter upper %}
                <p>{{ el }}</p>
    {% endfilter %}
        {% endif %}
    {% endfor %}

    {% for el in obj %}
     <p> {{el}} <p>
    {% endfor %}
</div>
{% endblock %}