body {
      background: #0fdefa;
}

aside {
    float:left;
    background: #07f74b8c;
    width :20%;
    padding:2.5%;
    height:100vh;
    color: #000;
    border-right: 5px solid blue;
 }

aside img{
     width: 70px;
     float: left;
 }

aside .logo{
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: +15px;

}
aside h3 {
    position:relative;
    margin-top: 35px;
    top: 35x;
    width:20px;
    height:50px
}
aside ul{list-style: none;}
aside ul li {
    color: #000;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul a{
color: #fff;
text-decoration: none;
transform: scale(1.05);}

main .feature{
float: left;
color: #fff;
margin-top: 50px;
text-align: center;
width:75%
}
main .feature h1{font-size: 50px}

main .feature p{max-width: 400px; margin: 20px auto}